.common-bg{
  background: url('../src/assets/images/background.png') no-repeat center/cover;
}

.mouse{
      width: 25px;
        height: 40px;
        border: 2px solid #333;
        border-radius: 60px;
        position: relative;
        overflow: hidden;
}

.mouse::before{
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 1.3s infinite;
    -webkit-animation: wheel 1.3s infinite;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 27px
  }
}

.n-scroll {
  transition: transform 2s ease-out, display 1s ease-out;
}

.n-scroll h3 {
  display: flex;
  font-size: 5rem;
  align-items: center;
}


#number {
  display: flex;
  width: 30px;
  overflow: hidden;
  height: 70px;
}

#number>span {
  display: flex;
  text-align: center;
  flex-direction: column;
  flex-basis: 48px;
  width: 1px;
  line-height: 70px;
  transition: all 2.5s cubic-bezier(0.35, 0.1, 0.15, 1);
}

#number>span.visible {
  position: static;
}

.line-mask {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #204958;
  opacity: 0.80;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.line {
  position: relative
}

    .underline-part::after {
      content: "";
      display: block;
      width: 50px;
      height: 6px;
      background-color: #1f4958;
      position: absolute;
      left: 0;
      bottom: 0;
      border-radius: 10px;

    }

@media screen and (min-width : 550px) {
  .carousel-item {
    width: 475px !important;
  }
}

.slick-dots{
  position : relative !important
}

.slick-slide {
  display: flex !important;
  justify-content: center !important;
}

.slick-arrow.slick-next,
.slick-arrow.slick-prev {
  height: 135px;
  width: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  z-index: 100;
}

.slick-arrow.slick-next{
  padding-left: 40px;
}

.slick-arrow.slick-prev {
  padding-right: 40px;
}

.slick-prev::before,
.slick-next::before {
  display: none;

}

.arrows {
  height: 50px;
  width: 50px;
}

.slick-slider {
  max-width : 1200px !important
}